*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    }


/* INTESTAZIONE */
header{
    display: flex;
    height: 600px;
    flex-direction: column;
}


.upper-row{
    min-height: 100px;
    background-color: rgba(49,97,224,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteiner-upper-row{
    width: 70%;
    min-height: 50%;
    /* background-color: darkorange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenuto-headerUR{
    display: inline-block;
    /* background-color: orange; */
    height: 80px;
    min-width: 100px;
    padding: 5px 5px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li{
    padding: 5px 10px;
    color: white;
}

.button{
    padding: 5px;
    border-radius: 40px;
    border: none;
}

.low-header-due{
    background-color: #23272a ;
    color: white;
}





.low-row{
    /* background-color: blue; */
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("../img/jumbo.png");
    height: 100%;
    width: 100%;
    background-size: cover;
}

.contenuto-headerLR{
    display: inline-block;
    /* background-color: orange; */
    height: 300px;
    width: 800px;
    background-size: cover;
    text-align: center;
}

.h1text-header{
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.ptext-header{
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 25px;
    color: white;
}

.button-low-header-uno{

}

.button-low-header-due{

}
/* FINE INTESTAZIONE */

/* CORPO CENTRALE */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pagina{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* PRIMA PAGINA MAIN*/

.prima.pagina{
    display: flex;
    /* background-color: grey; */
    justify-content: center;
    align-items: center;
    width: 100%;

}

.square{
    display: inline-block;
}

.uno.left.square{
    height: 300px;
    width: 400px;
    /* background-color: lightblue; */
}

.img-main-1ap{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.uno.right.square{
    height: 300px;
    width: 300px;
    /* background-color: pink; */
    padding: 50px;
    text-align: center;
}

.text-main-1ap{
    padding-bottom: 20px;
}
/* FINE PRIMA PAGINA MAIN*/



/* SECONDA PAGINA MAIN */
.seconda.pagina{

    display: flex;

    background-color:  lightgray;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.due.left.square{
    height: 300px;
    width: 300px;
    /* background-color: lightblue; */
    padding: 50px;
    text-align: center;
}

.text-main-2ap{
    padding-bottom: 20px;
    
}

.due.right.square{
    height: 300px;
    width: 400px;
    /* background-color: pink; */
}

.img-main-2ap{
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* FINE SECONDA PAGINA MAIN */

/* TERZA PAGINA MAIN */

.img-main-3ap{
    height: 100%;
    width: 100%;
    background-size: cover;
}


/* FINE TERZA PAGINA MAIN */

/* QUARTA PAGINA MAIN */

.quarta.pagina{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:  lightgray;   
    width: 100%;
 

}

.contenuto-quarta-pagina{
    height: 400px;
    width: 600px;
    /* background-color: green; */
    text-align: center;
    padding-top: 0px;
}

.text-main-4ap{
    /* padding-bottom: 20px; */
    padding-top: 0px;
    margin-bottom: 20px;
}

.img-main-4ap{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.h2-4pag{
    background-image: url(../img/stars.svg);
    padding-top: 20px;
}



/* FINE QUARTA PAGINA MAIN */

/* FOOTER */

footer{
    background-color: rgba(35,39,42,255);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.up-footer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#speciale{
    height: 300px;
    width: 200px;
    /* background-color: pink; */
}


.language{
    height: 20px;
    width: 30px;
    padding-top: 5px;
}

.ita{
    display: inline-block;
}


/* Social */

.fa-twitter {
    color: white;
  }

.fa-facebook {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa-youtube {
    color: white;
  }


.foot{
    height: 300px;
    width: 100px;
    /* background-color: lpxightseagreen; */
    /* border: 1px dashed black; */
    margin: 30px;

}

.viola{
    color: #7289da;
}

.white{
    color: white;
    padding-top: 5px;
}

.button-viola{
    background-color: #7289da;
}

.scarica-per-mac{
    margin-top: 10px;
}


hr{
    margin-top: 30px;
    width: 600px;
    color: rgba(49,97,224,255);
}

.bottom-footer{
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}


.contenuto-bottom-footer{
    /* background-color: aqua; */
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.little-pink1{
    min-height: 10px;
    min-width: 10px;
    /* background-color: pink; */
    padding: 5px 5px;
}
.little-pink2{
    min-height: 10px;
    min-width: 10px;
    /* background-color: pink; */
    padding: 5px 5px;
}


/* FINE FOOTER */


/* FINE CORPO CENTRALE */